.person-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-details .list-group {
  padding: .25rem;
}

.person-details .list-group .term {
margin-left: .5rem;}

